/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alatsi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1C232E;
    overflow: hidden;
}

.conteudoHome {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    transition: filter 1s ease;
}

.abaHome {
    color: white !important;
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.649);
}

.abaNoticias {
    color: white !important;
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.649);
}

/* Divs principais */
.header {
    width: 100%;
    height: 18%;
    background-color: #1C232E;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    user-select: none;
}

.main {
    background-color: #1C232E;
    width: 100%;
    height: 82%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Lista de abas no topo */
.abas {
    width: 30%;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

ul img {
    width: 14px;
    transform: rotate(90deg);
}

ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #B0B0B0;
}

li {
    transition: 0.4s;
}

li:hover {
    color: white;
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.649);
}

/* Botão entrar na conta */
.setaConta {
    width: 15px;
    margin-left: 4px;
}

.bottonConta {
    background-color: #00000000;
    border: white solid 3px;
    border-radius: 40px;
    padding: 5px;
    margin-left: 20px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: white;
}

.bottonConta:hover {
    box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.649);
}

.conta {
    color: white;
    display: flex;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    z-index: 1;
}

.conta :hover{
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.649);
}

/* Logo */
.logo img {
    width: 45px;
}

/*aba de notícias*/
.noticiasDestaque{
    height: 90%;
    width: 80%;
    display: flex;
}

.abaPesquisa{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #0f1218;
}

.barraPesquisa{
    background-color: #1C232E;
    display: flex;
    align-items: center;
    border-radius: 4px;
    height: 40px;
    margin-right: 130px;
}

.barraPesquisa input{
    background-color: #1C232E;
    border-radius: 4px;
    border: none;
    height: 40px;
    width: 160px;
    transition: width 0.5s;
}

.barraPesquisa img{
    width: 17px;
    margin: 10px;
}

.barraPesquisa.focada{
    background-color: white;
}

.barraPesquisa input::placeholder {
    position: relative;
    top: 1px;
    color:#ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
}

.barraPesquisa input:focus{
    outline: none;
    border: none;
    background-color: white;
    width: 200px;
}

.barraPesquisa input:focus::placeholder{
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    color: #1C232E;
}

/* Notícias */

.aba1 {
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.aba2 {
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.noticia1, .noticia2 {
    position: relative;
    display: inline-block;
    border-radius: 15px;
    background-color: #0062ff;
    width: 400px;
    height: 500px;
    overflow: hidden;
    transition: width 0.5s, height 0.5s;
    margin: 60px;
}

.noticia1 img, .noticia2 img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    transition: transform 0.3s;
}

.noticia1::before,
.noticia1::after,
.noticia2::before,
.noticia2::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 60%;
    pointer-events: none;
    z-index: 1;
}

.noticia1::before,
.noticia2::before {
    top: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.noticia1::after,
.noticia2::after{
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.textoCima {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    position: absolute;
    top: 5px;
    right: 110px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: bold;
    z-index: 2;
    padding: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.textoPrincipal {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    position: absolute;
    bottom: 50px;
    left: 6px;
    width: 100%;
    text-align: start;
    color: white;
    font-size: 20px;
    z-index: 2;
    padding: 10px;
    padding-right: 20px;
    padding-bottom: 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.textoBaixo {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    position: absolute;
    bottom: 15px;
    left: 25px;
    width: 100%;
    text-align: start;
    color: white;
    font-size: 13px;
    z-index: 2;
    padding: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.noticia1:hover img, .noticia2:hover img {
    transform: scale(1.2);
}

/*Aba de Home*/
.mainHome {
    background-color: #1C232E;
    width: 100%;
    height: 82%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}

.esquerdaMain {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.itensEsquerdaMain {
    height: 57%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.direitaMain {
    width: 50%;
    height: 100%;
}

.divDecoração1{
    position: fixed;
    right: -30px;
    bottom: 0;
    width: 640px;
    height: 400px;
    background: linear-gradient(to bottom, #000000a1, #1C232E);
    transform: rotate(10deg);
}

.divDecoração2{
    position: fixed;
    right: -200px;
    bottom: 384px;
    width: 600px;
    height: 400px;
    background: linear-gradient(to bottom, #000000a1, #1C232E);
    transform: rotate(10deg);
}

/*Frases entrada*/
.fraseHome1 {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 50px;
}

.fraseHome2 {
    font-family: "Inter", sans-serif;
    font-size: 17px;
    font-style: italic;
    margin-bottom: 40px;
    color: #B0B0B0;
}

/* Botão acessar conta (Home)*/
.buttonLinkLogin {
    border-radius: 60px;
    width: 360px;
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: solid white 2px;
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 0.066);
}

.buttonLinkLogin:hover {
    color: white;
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.649);
    box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.649);
}

.linkLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 21px;
    color: white;
    margin-left: 10px;
}

.linkLogin img {
    width: 18px;
    margin-left: 8px;
}

/*Para aplicar o efeito de blur ao clicar no botão*/
.desfocado{
    filter: blur(7px);
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #1C232E;
}

/*Para retirar o efeito de blur*/


/*Aba de login*/
.login{
    font-family: "Inter", sans-serif;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    width: 420px;
    height: 500px;
    border-radius: 15px;
    z-index: 10;
}

.abaLoginVisivel{
    display: block;
}

.dados input::placeholder {
    color: rgb(92, 92, 92);
    font-weight: 600;
    font-size: 10px;
}

.divAbaLogin{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.dados{
    width: 70%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.credenciais{
    font-weight: 600;
    font-size: 14px;
    margin-top: 13px;
}

.inDados{
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 2px black;
}

.inDados:focus {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 2px black;
    outline: none;
}

.tituloLogin p{
    font-size: 30px;
    margin-top: 10px;
}

.tituloLogin img{
    width: 40px;
}

.tituloLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: "Alatsi", sans-serif;
    font-weight: 400;
    padding: 10px;
}

.buttons{
    display: flex;
    height: 20%;
    width: 70%;
    justify-content: space-around;
    align-items: center;
}

.buttons input{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: white;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    background-color: #1C232E;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

.buttons input:hover{
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.649);
}